<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874546630664-8sv984k5ddsq67nvrh4ckjqhkk0u7f29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874546630664-8sv984k5ddsq67nvrh4ckjqhkk0u7f29</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>874546630664-rlec06alhcovctm5rbdcdbtrin3rq97q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7d99h2zd4-K08G09pvkRh_uKqvXnf_pU</string>
	<key>GCM_SENDER_ID</key>
	<string>874546630664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mywonderbird.mywonderbird</string>
	<key>PROJECT_ID</key>
	<string>mywonderbird-256205</string>
	<key>STORAGE_BUCKET</key>
	<string>mywonderbird-256205.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874546630664:ios:ecfe9e1d92d5c19b95c1bd</string>
	<key>DATABASE_URL</key>
	<string>https://mywonderbird-256205.firebaseio.com</string>
</dict>
</plist>